<style>


</style>
<h3>{{job.title}}</h3>
        
                <div>
                    <span>{{job.company}}</span>
                    <span>{{job.location}}</span>
                    <div>
                        <span>Package :{{job.salary}}</span>
                       
                    </div>
                  
               </div> 
                <p>{{job.description}}</p>
                <div>
                    <button style="font-size: 12px ; background-color: rgb(65, 72, 72); color: aliceblue; padding:15px 32px ; display: inline-block; font-size: 16px; text-align: center; border: 0cap;" >Apply</button>
                </div>
            </div>